<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="/css/basic.css" />
    
    <title>Calendar</title>
</head>
<body class="body-no-margin">
<div class="fullScreen">
    <div class="accountSpace">
        <div class="accountInfoSpace">
            <div class="accountSignin" th:onclick="|location.href='@{/join}'|"> <a class="txtSignin">SIGN UP</a></div>
            <div class="accountLogin" th:onclick="|location.href='@{/login}'|"> <a class="txtLogin">LOGIN</a> </div>

        </div>
    </div>

    <div class="loginSpace">
        <div class="loginFormSpace">
            <div class="loginForm">
                <h2> 로 그 인 </h2>
                <form  th:action th:object="${loginForm}" method="post">
                    <div>
                        <input type="text" id="loginId" th:field="*{loginId}" class="loginFormBox" placeholder="아이디"
                               th:errorclass="field-error">
<!--                        <div class="field-error" th:errors="*{loginId}" />-->
                    </div>
                    <div>
                        <input type="password" id="password" th:field="*{password}" class="loginFormBox" placeholder="비밀번호"
                               th:errorclass="field-error">
<!--                        <div class="field-error" th:errors="*{password}" />-->
                    </div>
                    <input type="submit" class="loginBtn" value="로그인">
        
                    <hr class = "line">
        
                    <a th:onclick="|location.href='@{/login/find}'|" style="cursor: pointer;">비밀번호를 잊으셨나요?</a>

                    <div th:if="${#fields.hasGlobalErrors()}" class="errorSpace">
                    <p class="field-error" th:each="err : ${#fields.globalErrors()}"
                   th:text="${err}">전체 오류 메시지</p> </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>