<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>

	<title></title>
</head>
<body>
<div >
	<span th:value="${access_Token}" id="access"></span>
</div>

<div >
	<span th:field="${refresh_Token}" id="refresh"></span>
</div>
</body>
<script>
document.addEventListener('DOMContentLoaded', function () {
	 $(function () {
	         alert("테스트");
	    window.localStorage.setItem("accessToken", $("#access").value);
        window.localStorage.setItem("refreshToken",$("#refresh").value);
        alert("refresh : " + $("#refresh").value);
        //window.localStorage.setItem("expiredTime", data.headers.get("expired_Time"));
        
       // location.replace("http://localhost:8080/Calendar");
	 
	 });
});
</script>
</html>